.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin: 16px 0;
  &__checkbox {
    width: 24px;
    height: 24px;
  }
  &__name {
    color: rgb(16, 16, 43);
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-left: 16px;
  }
  &__priority {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 16px 10px;
    color: #fff;
    border-radius: 6px;
    background-color: blue;
  }
  &__remove {
    cursor: pointer;
  }
}
.active {
  text-decoration: line-through;
}
