.loading {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon {
    font-size: 34px;
    color: #fff;
    animation: rotate 1s ease-in-out infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
